<div *ngIf="hero">

    <h2>Informaci&oacute;n de {{hero.name | uppercase}}</h2>
    <div><span>id: </span>{{hero.id}}</div>

    <div>
        <label> Nombre:
            <input type="text" [(ngModel)]="hero.name" placeholder="Nombre">
        </label>
    </div>

    <div>
        <label> Habilidad:
            <input type="text" [(ngModel)]="hero.skill" placeholder="Habilidad">
        </label>
    </div>

    <button (click)="save()">Actualizar</button>

    <button (click)="goBack()">Volver</button>

</div>